#opinions {
    
    h2 {
        font-size: 20px;
        font-weight: 600;
        color: #721422;
    }

    div {
        background-color: #721422c9;
        color: white;
        padding: 2rem 6rem;
        
        p {
            text-align: center;
        }

        span {
            font-style: italic;
        }
    }
}